.allAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  img {
    float: right;
    margin: 0 40px 40px 40px;
  }
  p {
    float: left;
    padding: 10px;
  }
}
