.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .banner {
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
    background: url('../../utils/bannerAdekvat.jpg');
    background-size: cover;
    @media screen and (max-width: 900px) {
      // background-size: contain;
      height: 120px;
      // background-size: auto;
    }
  }
  .collection {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding-top: 8px;
    }

    .eachKlei {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      border: 2px solid var(--primary-bg);
      p {
        font-size: 24px;
        padding: 10px;
        text-align: center;
        @media screen and (max-width: 768px) {
          font-size: 12px;
          padding: 5px;
        }
      }
      h4 {
        font-size: 20px;
        padding: 10px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
          padding: 5px;
        }
      }
    }
  }
}
.eachSideImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--primary-bg);
  p {
    font-size: 24px;
    padding: 10px;
    text-align: center;
  }
}
